<h1>ROCK. PAPER. SCISSORS.</h1>
<br>
<h4>Hey! Never played Rock, Paper, Scissors before?</h4>
<h4>What have you been doing with your life?</h4>
<h4>Well before you play the Game of Games, you'd better read the rules!</h4>
<h2>Rules</h2>
<h3>Background</h3>
<p>These general rules apply to all RPS (Rock, Paper, Scissors) games, its tripartite variants known in any permutation and/or combination of the following Scissors Paper Rock/Stone and by any other name that is currently known or unknown to the World RPS Society including Roshambo, Jaken, JanKenPo.

<h3>Definition</h3>
RPS is a decision making game of wits, speed, dexterity and strategy between players who are unable to reach a decision using other means. The result of a game is considered a binding agreement between the players. RPS is a game played by honourable people and therefore every effort should be made to commit to the outcome. The game is played by substituting the elements of: Rock, Paper and Scissors with standard hand signals.

<h3>Rule Governance</h3>
These rules are governed, maintained, published, updated, authorized and approved by the World RPS Society under the guidance and authority of the World RPS Steering Committee. Any changes are in strict violation of the World RPS Society’s Responsibility Code. Any changes to the rules require a seven-eighths majority ruling by the World RPS Steering Committee, unless, a temporary waiving or amendment is agreed upon by the players prior to play commencing. All temporary amendments are considered ephemeral unless otherwise agreed upon, but must not include any variant throws beyond the basic trinity such as, but not limited to, dynamite, bird, well, spock, god, water, lightning, bomb, matchstick, water, and/or Texas longhorn.

<h3>The Set up</h3>
1.0 Prior to play commencing the players must agree upon what decision is to be made (and considered binding) as a result of the match. If nothing can be agreed upon and the players wish to continue play, the game automatically defaults to an
“honour” match.
<br>
1.1 Players must agree to the number of primes to be used prior to the approach. Two and three primes are most commonly used in most professional level play.
<br>
1.1.1 The decision-makers must stand opposite each other with one outstretched fist at waist height with a distance between their fists of no less than 1 cubit and no more than 2 cubits.
<br>
1.2 The players also must establish the number of rounds to be played before the match is concluded. If no agreement can be reached, the game defaults to a single round format.
<br>
Beginning Play – Pre-Prime Phase
2.0 A “call for prime” is issued by one player to his/her opponent in a RAT (recognizable audible tone).
<br>
2.1 A Recognizable Audible Tone, is defined as an utterance that can be heard by the challenging player. Using the word “ready” is considered good form.
<br>
2.1.1 In the case of match between or with hearing impared players or in situations where it is critical that silence must be maintained, a mutually agreement upon Recognizable Visual Signal can replace the standard RAT. In this case, a nod of the head while looking directly into the eyes of the other player is standard form.
<br>
2.2 A ‘return of the call” is then issued by the other player who thus acknowledges the “call for prime”, also in a RAT (or RVS).
<br>
You get the idea, this could go on all day. NEXT BIT.
<br>
<h3>Approach</h3>
4.0 Once the fist has reached the highest point of the final throw of the last prime, the delivery of the throw is considered to be “in approach”. At any time during the approach of this final prime, the hand may be released in any of the following manners:

Rock: represented by a closed fist with the thumb resting at least at the same height as the topmost finger of the hand. The thumb must not be concealed by the fingers.Note: To accommodate different throwing styles, it is considered legal for the first knuckle of the thumb to point downward.

Scissors: Is delivered in the same manner as rock with the exception that the index and middle fingers are fully extended toward the opposing player. It is considered good form to angle the topmost finger upwards and the lower finger downwards in order to create a roughly 30–45 degree angle between the two digits and thus mimic a pair of scissors.

Paper: Is also delivered in the same manner as rock with the exception that all fingers including the thumb are fully extended and horizontal with the points of the fingers facing the opposing player. Use of the “vertical paper” (sometimes referred to as “the handshake”) is considered exceptionally bad form.

<h3>THE MAIN BIT</h3>

6.0.1 Rock: wins against scissors, loses to paper and stalemates against itself
<br>
6.0.2 Paper wins against Rock, loses to scissors and stalemates against itself
<br>
6.0.3 Scissors wins against paper, loses to rock and stalemates against itself
<br>
6.1 Players may use any combination of these throws at any time throughout the match. Any throws that are not comforming to the standard hand positions (outlined above) and thus deemed to be a rock (stone), paper, or scissors is considered to be an illegal throw and is thus forbidden. Should a player execute an illegal throw, the opposing player has the right (but not the obligation) to claim immediate victory over the round (not the match). Alternatively, the infringed upon player has the right but not the obligation to replay the current game if he/she so chooses.
<br>
6.2 The winner of the round is dictated by the player’s throw which beats that of the opponent. Under no circumstances can a losing throw ever beat a winning throw.
Note: At the conclusion of the match after the winner has been determined, some players will offer a vertical paper throw or “handshake”. While this gesture is seen in other circles as good manners to thank your opponent for the match, it is important to note that this action should not be expected or required in RPS, due to the fact that in general a “Handshake” is used as “deal sealer” between two parties. Since the results of an RPS match are considered to be binding, the “handshake” can be considered a redundancy since, in effect, the ” deal” has already been “sealed” with the outcome of the match.
<br>
Oh and one more thing: if you lose, YOU DIE.
<br>
Have fun!
<br>
<br>
<br>
<br>
<br>
</p>
