<h1>WOAH, I DIDN'T SEE THAT COMING</h1>

<h2>TIME FOR YOUR MOVE, PLAYER 2</h2>

<a href="/RPS/rock/rock">ROCK</a>
<br>
<br>
<a href="/RPS/rock/paper">PAPER</a>
<br>
<br>
<a href="/RPS/rock/scissors">SCISSORS</a>
