body {

  background-color: cream;
  background-image: url(https://cdn.dopl3r.com/memes_files/ilustration-rock-paper-scissors-xRY1d.jpg);
  background-repeat:  repeat-y;
  background-position: right;
  background-blend-mode: lighten;

  padding-right: 525px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 40px;

  text-align: left;
  font-family: garamond;
  font-size: 18px;

}

h1 {
    color: cream;
    text-align: left;
    text-decoration: underline;
}

p {


}
